@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18pt;
    font-family: "Segoe UI Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    right: 10px;
    top: 70px;
    border-radius: 20px;
    height: 50px;
    width: 50px;
}

input[type=checkbox]:after {
    content: "☀️";
    padding-bottom: 5px;
}

#navbarNav .nav-item:first-child{
    /* font-size: 22px;
     margin-bottom: 50px;*/
        margin-top: 75px; 
 }

input[type=checkbox]:checked::after {
    content: "🌕";
    padding-bottom: 5px;
}

body.dark-theme {
    background-color: black;
    color: #FFFFFF !important;
}

body {
    overflow-x: hidden !important;
}

.dark-theme .text-black-50 {
    color: #5C5C5C !important
}

.dark-theme .card {
    background-color: black;
}

.dark-theme .bg-light {
    background-color: #1616161c !important;
}

.dark-theme table {
    color: white !important;
}

.dark-theme .pricing .card:hover {
    background-color: #1c1c1c;
}

.dark-theme .light_logo{
    display: none;
}
body:not(.dark-theme) .dark_logo{
    display: none;
}

body .offcanvas{
     background-color: black !important;
     box-shadow: 0 0 10px #2121218a;
 }
 .offcanvas *{
     color: white;
 }
 .offcanvas{
     transition: transform .03s ease-in-out !important;
     max-width: 250px !important;
 }

body {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

p {
    font-size: 12pt;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.mw {
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', serif;
    /* font-family: 'Poppins', serif; */
    font-weight: 600 !important;
}

.nav-link {
    font-family: 'Poppins', serif;
    /* font-family: 'Poppins', serif; */
    text-transform: uppercase;
    font-size: 16px;
/*    margin-top: 14px;*/
}

.bitter {
    font-family: 'Poppins', serif;
    /* font-family: 'Poppins', serif; */
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    /* width: calc(100% - 82px); */
    margin: 0 auto; 
}

.navbar-toggler:focus {
    color: transparent;
}

.navbar-brand > img {
    height: 50px;
}

.time table, .number {
    font-family: 'Poppins', serif;
    /* font-family: 'Poppins', serif; */
}

footer {
    font-family: Arial, sans-serif;
}

.navbar-dark {
    background-color: #000;
}

.bg-black {
    background-color: black;
}

.text-justify {
    text-align: justify;
}

footer {
    /* background-color: #090B0B; */
    margin-top: 0px;
}

footer .text-black-50 {
    font-size: 8pt;
}

footer a.btn, a.btn {
    font-weight: 700;
}

footer a.e_mail, a.e_mail {
    height: 45px;
    display: inline-block;
    font-weight: 700;
}

.fb-like {
    /*margin-right: 20px;*/
    margin-bottom: 20px;
}

.fb-like iframe {
    width: 100% !important;
}

.fb-like span {
    width: 300px !important;
}

.arial {
    font-family: Arial, sans-serif;
}

.pricing {
    margin-top: 50px;
}

.pricing .card {
    border: 0;
    padding-top: 5px;
    /*font-family: 'Arial', sans-serif;*/
font-family: 'Poppins', sans-serif;    
}

.call {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.desc > p {
    font-weight: 400 !important;
}

.pricing .card-header {
    border: 0;
    background-color: white;
    padding-bottom: 0;
}

.pricing .card-title {
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.pricing .card-body h3 {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.time table td {
    padding-top: 10px;
    padding-bottom: 10px;
font-weight:500 !important;
}

.books .card > a {
    font-size: 14px;
    color: #4198D0 !important;

}

.container.contact .card {
    height: 200px;
    border: 0;
}

.btn-success {
    background-color: #32CD32;
    border-color: #32CD32;
}

.btn-success:hover, .btn-success:focus {
    outline-color: #79EF79;
    background-color: #79EF79;
    border-color: #79EF79;
}

.btn-primary {
    background-color: #00BFFF;
    border-color: #00BFFF;
}

.btn-primary:hover, .btn-success:focus {
    outline-color: #6BCDEF;
    background-color: #6BCDEF;
    border-color: #6BCDEF;
}

.footer-links > div {
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
}

.links-vertical {
    flex-direction: row;
    gap: 3pt;
}

.footer-links, .review {
    font-family: 'Poppins', serif;
    /* font-family: 'Poppins', serif; */
    font-weight: bold;
}

.books .card a {
    font-family: Arial, sans-serif;
}

.mont {
    font-family: 'Montserrat', serif;
}

.header {
    text-align: center;
    text-transform: none;
}

.pricing .card-header {
    background: transparent;
}

.pricing .card:hover {
    background: #00000010;
    box-shadow: 0 0 10px #00000015;
}

nav.navbar {
/*    position: fixed;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 125;
}

main.container {
    margin-top: 37px;
}

.e_mail:hover {
    background-color: #187BCD !important;
    opacity: 1 !important;
    color: #fff !important;
}

.btn:hover {
background-color: #0B6623 !important; opacity: 1 !important; color: #fff !important;
}

.icon-button {
    background-color: white;
    border-radius: 43.2pt;
    cursor: pointer;
    display: inline-block;
    font-size: 24pt;
    height: 43.2pt;
    line-height: 43.2pt;
    margin: 0 22px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 43.2pt;
    margin-top: 0px;
    margin-bottom: 55px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ddd;
}



/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 43.2pt;
    height: 43.2pt;
    border-radius: 43.2pt;
    margin: -21.6pt;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 43.2pt;
    left: 0;
    line-height: 43.2pt;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
         -o-transition: all 0.1s;
            transition: all 0.1s;
    width: 43.2pt;
    z-index: 10;
}
.icon-button .fa-twitter {
    color: #4199ff;
}
.icon-button .fa-facebook {
    color: #3c5998;
}
.icon-button .icon-google-plus {
    color: #db5a3c;
}
.icon-button .fa-linkedin {
    color: #3c5998;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .icon-google-plus {
    color: white;
}
.navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: #000 !important;
    margin-right: 25px !important;
    box-shadow: none !important;
    z-index: 130;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(https://chrismuha.com/public/img/menu.png) !important;
    background-size: 30px !important;
}

.centered-content
{
    max-width: 580px;
    margin: 0 auto;
}

.table-hover>tbody>tr:hover {
     --bs-table-accent-bg: #ffc00847;
     color: inherit;
 }

body :not(.dark-theme) .text-grn
{
    color: #198754!important;   
}

.title-bg-black
{
    display: inline-block;
    /* background: #000; */
    padding: 7px 15px;  
}

.hamburger .line{
  width: 40px;
  height: 4px;
  background-color: #ecf0f1;
  display: block;
  margin: 9.5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}




.nav-toggle-btn {
    background: none;
    border: none;
    padding: 7.5pt 0;
    margin: 0;
    border-radius: 0;
    outline: none;
    float: right;
    position: relative;
    z-index: 995;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
    margin-right: 0px;    
}

.nav-toggle-btn:hover {
    color: #b11d11;
}

.nav-toggle-btn:focus {
    outline: none;
}

.nav-toggle {
    display: block;
    width: 32px;
}

.nav-toggle .stick {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all .3s;
    position: relative;
}

.nav-toggle .stick + .stick {
    margin-top: 9px;
}

.body-menu-opened .nav-toggle .stick-1 {
    animation: ease .3s top forwards;
}

.nav-toggle .stick-1 {
    animation: ease .3s top-2 forwards;
}

.body-menu-opened .nav-toggle .stick-2 {
    animation: ease .3s bottom forwards;
}

.nav-toggle .stick-2 {
    animation: ease .3s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 6px;
        transform: rotate(0);
    }
    100% {
        top: 6px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 6px;
        transform: rotate(45deg);
    }
    50% {
        top: 6px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 6px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 6px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 6px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 120;
    background: #000;
    max-width: 100%;
    width: 100%;
    padding: 63pt 28.5pt 50.25pt;
    display: flex;
    flex-direction: column;
    transition: transform .1s ease-in-out;
    -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
}

.body-menu-opened .menu {
    -webkit-transform: translateX(0%);
        transform: translateX(0%);
}

.hide-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    background: #000000a6;
    z-index: 100;
}

.body-menu-opened .hide-menu {
    bottom: 0;
}

@media (min-width: 576px) {
    .menu {
        width: 350px;
    }

    .modal-dialog {
        max-width: 450px;
    }
}

.menu .menu-lang,
.menu .menu-main,
.menu .social,
.menu .menu-footer {
    /*opacity: 0;
    transform: translateY(36pt);*/
    transition: all .5s ease-in-out;
}

.menu .menu-lang {
    transition-delay: .2s;
}

.menu .menu-main {
    transition-delay: .4s;
}

.menu .social {
    transition-delay: .6s;
}

.menu .menu-footer {
    transition-delay: .8s;
}

.body-menu-opened .menu .menu-lang,
.body-menu-opened .menu .menu-main,
.body-menu-opened .menu .social,
.body-menu-opened .menu .menu-footer {
    opacity: 1;
    transform: translateY(0);
}

.menu .menu-lang {
    padding-bottom: 70.5pt;
    padding-bottom: 8.70370370vmin;
}

.menu-lang {
    font-size: 10.5pt;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    /*margin-left: 40px;*/
}

.menu-lang-item {
    display: inline-block;
    margin-right: 18pt;
    color: #a3a4a8;
    text-decoration: none;
}

.menu-lang-item.active,
.menu-lang-item:hover {
    color: #1f2044;
    text-decoration: none;
}

.menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16.5pt;
    font-weight: bold;
    text-align: left;
}

.menu-main > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-main > ul > li {
    margin-bottom: 0;
    padding-left: 2px;
    font-size: 31px;    
}

@media(min-width: 1400px)
{
.menu-main > ul > li {
    font-size: 36px;    
}
}

.menu-main a,
.menu-main a:hover {
    color: #fff;
    text-decoration: none;
}

/* .menu-main .active > a,
.menu-main a:hover {
    color: #edc137;
} */
/* 
.menu-main a:after {
    content: ".";
    opacity: 0;
    display: inline-block;
    transform: translate(24pt,0);
    transition: all .3s ease-in-out;
} */
/* 
.menu-main .active a:after {
    transform: translate(0,0);
    opacity: 1;
} */

.menu-main > ul > li a
{
    position: relative;
    display: inline;    
}

/* .menu-main > ul > li a:after
{
    content: '';
    border-bottom: 3px solid;
    position: absolute;
    width: 0%;
    opacity: 1 !important;
    bottom: 0;
    left: 0;    
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transition-timing-function: cubic-bezier(.58,.3,.005,1);
    -o-transition-timing-function: cubic-bezier(.58,.3,.005,1);
    transition-timing-function: cubic-bezier(.58,.3,.005,1);    
} */

.menu-main > ul > li a:hover:after
{
    width: 100%;
    left: inherit;
    right: 30px;    
}


header
{
padding-top: 30px;
}

.text-black-50 {
    color: #000000!important;
}


@media(max-width: 767px)
{
.menu {
    padding: 63pt 4.5pt 50.25pt;
}

.menu
{
width: 275px;    
}

.menu-main > ul > li
{
    margin: 0;
}

}

@media only screen and (max-width: 400px) {
    .purchasable {
        font-size: 15px;
    }

    button.navbar-toggler {
        margin-right: 20px;
    }

    .nav-link {
        font-size: 18px
    }

    .header h1{
        font-size: 24px;
    }
}


@media only screen and (min-width: 1080px) {
    header .img-fluid{
        max-width: 580px;
        margin-top: 50px;
    }
    div.banner .img-fluid{
        max-width: 580px;
    }

}


/*italicized texts changes here*/

i {
    font-style: normal;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.end-credits {
    color: black;
}

.end-credits p {
    font-size: 8.04pt;
}

.dark-theme .end-credits {
    color: white;
}

/*padding/margin corrector for vCard*/

.e_mail {
    margin-bottom: 50px;
}

.review {
    padding-top: 50px;
    text-align: center;
}

/*bolder headers*/

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
}

.navbar-brand {
    padding: 0 0 0 0;
    padding-left: 18px;
    z-index: 140;
}

/* loading screen */

#preloader {
    background: #fff no-repeat center center;
    z-index: 11100;
    width: 100%;
    height: 103vh;
    background-size: 200%;
    position: fixed;
    margin: 0 auto;
}
    
#preloader img {
    width: 300.01pt;
    height: 300.01pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
@media screen and (max-width: 550px) {
    #preloader img {
    width: 216.01pt;
    height: 216.01pt;
    }

    /* menu hover animation disabled in smaller devices */
    .nav-item a:hover {
        color: #ffffff8c !important;
        opacity: 100%;
        animation: normal !important;
        text-decoration: none;
    }


    .menu-main > ul > li a:hover:after {
        width: 0%;
    }

    .menu * {
        width: 95% !important;
    }

    .menu {
        padding-left: 8vh;
    }

    .menu a {
        margin-left: -2px;
    }
}

.hours-bold-700 {
    font-weight: 700;
    margin-bottom: -6pt;
}

.hours-bold-600 {
    font-weight: 600;
    margin-bottom: -6pt;
}

.nav-item a {
    font-weight: normal;
    font-size: 17px !important;
}

.nav-item a:hover {
    color: #ffffff8c !important;
    opacity: 100%;
    animation: normal !important;
    text-decoration: none;
}

.nav-item .active:hover {
    color: #fff !important;
}

.menu {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 150vh;
    position: absolute;
}

.menu * {
    font-size: 18pt !important;
    padding-top: 12pt;
    margin-left: -8px;
}

.menu li {
    border-bottom: grey 1px solid;
    width: 270px;
}

@media screen and (max-width: 992px) {
    .menu {
        padding-left: 8vw;
    }

    .menu a {
        margin-left: -2px;
    }   
}

.menu {
    overflow: hidden;
}

.bookmark-footer {
    margin-left: 12pt !important;
    margin-right: 12pt !important;
    font-size: 12pt;
    padding: 0;
}
/* 
.title-bg-black {
    border: 4px solid #000;
}
.dark-theme .title-bg-black {
    border: 4px solid #fff;
} */

/* Options Menu Table */
.scrollclick {
    scroll-margin-block-start: 110px;
}
.scrollclick-larger {
    scroll-margin-block-start: 10px;
}
.invertedscrollclick {
    scroll-margin-block-start: 510px;
}
.menu-table-header {
    width: 360.01pt !important;
    height: 1200.03pt;
    margin: auto;
    border: black 1px solid;
    border-radius: 7.2pt;
    margin-bottom: 36pt;
    overflow-y: hidden;
}
.mcr-virus-pic {
    width: 70%;
    margin: 0 auto 24pt auto;
    width: 100%;
}
@media screen and (max-width: 302px) {
    .menu-table-header .img {
        width: 90%;
    }
}
.menu-table-header h4 {
    background-color: red;
    padding: 6pt;
    border-radius: 6pt 6pt 0 0;
    text-align: center;
}
.menu-table p {
    margin: 6pt;
    font-size: 14px;
}
.menu-table .services {
    display: flex;
    flex-direction: column;
}
.menu-table .services a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-bottom: 12pt;
    margin: 6pt;
    transition: 0.2s;
    margin-top: 0;
}
.menu-table .services p,
.menu-table .services a {
    margin-top: 18pt;
    margin-bottom: 0;
}
.menu-table .services a:first-child,
.menu-table .services p:first-child  {
    margin-top: 0;
}
.menu-table .services a:last-child,
.menu-table .services p:last-child  {
    margin-bottom: 0;
}
.menu-table .last-child p:last-child {
    margin-bottom: 24pt;
}
.dark-theme .menu-table .services a {
    color: white;
}
.menu-table .services a:hover {
    opacity: 80%;
}
.menu-table .services p {
    font-size: 14px;
}
.menu-table .table-underlined-text {
    margin-bottom: 18pt;
}
.dark-theme .menu-table-header {
    border: white 1px solid;
}
a.nav-link {
    color: white !important;
}

.movetop {
    text-align: center;
    margin: 12pt;
}
.movetop a {
    text-decoration: none;
    color: white;
    padding: 6pt 12pt;
    background-color: #1b91ff;
    border-radius: 2.4pt;
    font-weight: bold;
    transition: 0.2s;
}
.movetop a:hover {
    background-color: #0057a8;
}
@media only screen and (max-width: 530px) {
    .menu-table {
        display: flex;
    }
    .menu-table-header {
        width: 100% !important;
    }
}

.mcr-ftc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 24pt auto;
    font-family: 'Poppins';
}
.top-ftc-sec h5 {
    margin: 0;
    color: red;
    text-decoration: underline;
    text-align: center;
}
.top-ftc-sec .ftc-bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-ftc-sec .ftc-bullets ul {
    padding: 12pt;
}
.top-ftc-sec li{
    list-style: none;
    padding-bottom: 6pt;
}
.top-ftc-sec i {
    padding: 0 6pt;
    color: red;
}
.single-ftc-pos {
    display: flex;
    justify-content: space-between;
    gap: 12pt;
}
.single-ftc-sec {
    width: 360.01pt;
    background-color: #00000017;
    margin-bottom: 24pt;
}
.dark-theme .single-ftc-sec {
    background-color: #ffffff0e;
}
.single-ftc-sec h5 {
    background: red;
    padding: 6pt;
    color: white;
}
.single-ftc-sec li, .full-ftc-sec li {
    list-style:square;
    text-indent: 6pt;
    padding-bottom: 0.24pt;
}
.full-ftc-sec {
    margin-bottom: 24pt;
}
.full-ftc-sec h5 {
    background-color: red;
    padding: 6pt;
    margin: 0;
    color: white;
}
.full-ftc-sec .full-ftc-bullets {
    display: flex;
    justify-content: space-between;
    background-color: #00000017;
    padding: 6pt;
}
.full-ftc-bullets-flex {
    display: flex;
    justify-content: space-between;
    background-color: #00000017;
    
}
.full-ftc-bullets-flex * {
    width: 348.01pt;
}
.full-ftc-bullets-last-child {
    margin-left: -24pt;
}
.full-ftc-bullets ul {
    width: 360.01pt;
}
.dark-theme .full-ftc-sec {
    background-color: #ffffff0e;
}
.mcr-ftc ul p {
    margin-left: -24pt;
}
.ftc-ending {
    background-color: red;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    gap: 12pt;
}
.ftc-ending p {
    margin-top: 12pt;
    color: white;
    font-weight: 800;
}
.ftc-ending .line {
    width: 2px;
    height: 100%;
    background-color: white;
}
.ftc-ending b {
    font-size: 12pt;
    color: white;
}
@media screen and (max-width: 550px) {
    .ftc-ending {
        flex-direction: column;
        height: fit-content;
        gap: 0;
        text-align: center;
    }
    .ftc-ending .line {
        height: 2px;
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .mcr-ftc {
        width: 95%;
        overflow-x: hidden;
    }
    .single-ftc-pos, .full-ftc-sec {
        flex-wrap: wrap;
    }
    .single-ftc-sec {
        width: 100%;
    }
    .full-ftc-bullets {
        flex-direction: column;
    }
    .full-ftc-sec ul p {
        width: 60%;
    }
    .top-ftc-sec .ftc-bullets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .full-ftc-bullets-flex {
        flex-wrap: wrap;
    }
    .full-ftc-bullets-flex > * {
        margin-bottom: 0;
    }
    .full-ftc-bullets-last-child {
        margin-left: 0;
    }
}

.buttons-ver-hor {
    display: flex;
    gap: 12pt;
    justify-content: center;
}
.buttons-ver-hor:first-child a {
    margin-top: 0 !important;
}
@media screen and (max-width: 420px) {
    .buttons-ver-hor a {
        padding-left: 4pt;
        padding-right: 4pt;
    }
}
.button-services {
    width: fit-content ;
    margin: auto;
}

/* .nav-mob {
    display: none; 
} */

.menu-deskt .navbar-nav {
    display: block;
}

.menu-deskt .navbar-nav li {
    display: inline-block;
    padding: 0 12px;
}

.navbar>.container-fluid {
    justify-content: space-evenly;    
}
/* 
.swiper, swiper-container {
    max-width: 360.01pt;   
} */

.brand-desk {
    display: none;
}

@media(min-width:1100px) {
    .menu {
        position: relative;
        height: auto;
        display: block;
        width: auto !important;
        transform: none;
        padding: 0;    
    }   

    .menu-main {
        overflow: hidden;   
        padding-top: 0; 
    } 

    .menu-main > ul {
        display: block !important;
    }

    .menu-main > ul > li {
        display: inline-block;
        width: auto;
        padding: 0 16px;
        border: none;
    }

    .nav-toggle-btn {
        display: none;
    }

    .brand-desk {
        display: block;
    }

    .brand-mob {
        display: none;
    }
}

.title-header {
    margin-top: -72px !important;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-bg-black {
    position: absolute;
    text-align: left;
    z-index: 1;
}
.page-banner {
    display: flex;
    align-items: flex-start;
    position: relative;
}
/* Old style */
.page-banner.for-desktop img {
    height: 400px;
    width: 100vw;
    align-self: flex-start;
    object-fit: cover;
    display: block;
}
.page-banner.for-mobile img {
    height: auto;
    width: 100vw;
    align-self: flex-start;
    object-fit: cover;
    display: none;
}
/* New Style */
/* .page-banner img {
    height: 50vh;
    width: 100vw;
    margin: auto;
    align-self: flex-start;
    object-fit: contain;
} */
@media screen and (max-width: 1000px) {
    .page-banner.for-desktop img {
        display: none;
    }
    .page-banner.for-mobile img {
        display: block;
    }
}
.page-banner::before {
    content: '';
    color: #ffffff;
    font-size: 24pt;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 12pt;
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-left: -9.6pt;
}
.page-banner::before {
    font-size: 36pt;
}
@media screen and (max-width: 700px) {
    .page-banner::before {
        font-size: 21.6pt;
        bottom: -12pt !important;
    }
}
@media screen and (max-width: 430px) {
    .page-banner::before {
        font-size: 15.6pt;
    }
}
@media screen and (max-width: 300px) {
    .page-banner::before {
        font-size: 12pt;
    }
}
@media screen and (max-width: 250px) {
    .page-banner::before {
        font-size: 8.4pt;
    }
}
@media screen and (max-width: 175px) {
    .page-banner::before {
        font-size: 4.8pt;
    }
}
@media screen and (max-width: 1020px) {
    .page-banner::before {
        bottom: -1.24pt;
    }
}

.buttons-section-index {
    margin-top: 37px;
}


.menu-table
{
    max-width: 480.01pt;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-button-prev, .swiper-button-next {
    color: #111;
}

.dark-theme .swiper-button-prev, .dark-theme .swiper-button-next {
    color: #fff;
}

/* .swiper, .swiper-container {
    max-width: 360.01pt;
} */

.dark-theme .dBDXpf, .dark-theme .kdDwXd, .dark-theme .huflDf, .dark-theme .hlUNdy, .dark-theme .fdSgyg, .dark-theme .jgvdLy, .dark-theme .kEsJBd, .dark-theme .gARbBw, .dark-theme .gBUraK {
    color: #fff !important; 
}

.dark-theme .iuBYbv {
    background-color: #ffffff0d;
}

.rev-slider .swiper-button-prev, .rev-slider .swiper-button-next {
    color: #f0b654;
}


.menu-table {
    margin: 0 auto;
}

@media screen and (max-width: 665px) {
    .menu-table {
        margin: 0 12pt;
    }
}

.button-header {
    margin: 24pt 0;
    font-weight: bold;
    font-size: 18px;
}

.menu-table-header h4 {
    color: white;
}

.review-slider {
    width: 480.01pt;
    margin: 0 auto;
    margin-top: 37px;
}

.google .swiper-wrapper {
    display: flex;
    align-items: center;
}

.review-slider .swiper-slide {
    padding: 0 60pt;
    text-align: left;
} 
.review-slider img {
    width: 90%;
}
.review-slider > p{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}
.review-slider i {
    color: orange;
}
.button-google-review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 0 24pt;
    margin: 24pt auto;
    background-color: #ffffff;
    border-radius: 12pt;
}
.button-google-review img {
    width: 50%;
}
.button-google-review a {
    background-color: #ff6153;
    margin: 12pt 0;
}
.button-google-review a:hover {
    background-color: #ff5344 !important;
}

@media only screen and (max-width: 767px) {
    .review-slider {
        width: 100%;
    }
    .review-slider img {
        width: 100%;
    }
    .review-slider .review-slider {
        padding: 0 48pt;
    }
}

.circle-top {
    height: 36pt;
    width: 36pt;
    border-radius: 120pt;
    background-color: #0074df;
    border: white 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    bottom: 24pt;
    right: 24pt;
    text-decoration: none;
    transition: 0.1s;
}

.circle-top:hover , .circle-top:active {
    background-color: #1b91ff;
    border: white 2px solid;
}

html {
    overflow-x: hidden !important;
}
.circle-top i {
    color: white;
    font-size: 22px;
}
.review-slider {
    margin-bottom: 24pt;
}

a:hover {
    color: #2f81f7;
    text-decoration: underline;
}

.review-slider .swiper-message {
    text-align: center;
}

/*spacing correction top layer codes*/
.footer-links {
    margin-bottom: 37px !important;
}
.bookmark-footer, .review {
    margin: 37px 12pt !important;
    padding: 0;
}
.menu-table-header {
    margin-bottom: 0 !important;
}
.mcr-ftc {
    margin-top: 37px;
}
.menu-table {
    margin-top: 37px;
}
.mcr-virus-pic {
    margin-top: 37px;
    margin-bottom: 0;
}
.button-header {
    margin: 37px 0;
}
.review-slider {
    margin-bottom: 0;
    margin-top: 37px;
}
.spacing {
    height: 37px;
    width: 100%;
}
#consultation {
    margin-bottom: 0 !important;
}
.menu-table p, .menu-table a {
    font-family: 'Poppins' !important;
}
.review-slider > p::after {
    content: 'We are here to provide exceptional customer service. We will ensure that your computers and devices are performing at their peak and are secure when using the internet.';
    font-size: 12pt;
    font-weight: 500;
    display: block;
    padding: 12pt 0;
    width:; 80%;
    margin: auto;
}
