@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5em;
    font-family: "Segoe UI Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    top: 70px;
    border-radius: 20px;
    height: 50px;
    width: 50px;


}

input[type=checkbox]:after {
    content: "☀️";
    padding-bottom: 5px;
}

input[type=checkbox]:checked::after {
    content: "🌖";
    padding-bottom: 5px;
}

body.dark-theme {
    background-color: black;
    color: #FFFFFF !important;
}

.dark-theme .text-black-50 {
    color: #5C5C5C !important
}

.dark-theme .card {
    background-color: black;
}

.dark-theme .bg-light {
    background-color: rgba(22, 22, 22, 0.11) !important;
}

.dark-theme table {
    color: white !important;
}

.dark-theme .pricing .card:hover {
    background-color: #090909;
}

.dark-theme .light_logo{
    display: none;
}
body:not(.dark-theme) .dark_logo{
    display: none;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

p {
    font-size: 12pt;
}

.mw {
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    font-weight: 600 !important;
}

.nav-link {
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    font-size: 14px
}

.bitter {
    font-family: 'Bitter', serif;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
}

.navbar-toggler:focus {
    color: transparent;
}

.navbar-brand > img {
    height: 36px;
}

.time table, .number {
    font-family: 'Bitter', serif;
}

footer {
    font-family: Arial, sans-serif;
}

.navbar-dark {
    background-color: #090B0B;
}

.bg-black {
    background-color: black;
}

.text-justify {
    text-align: justify;
}

footer {
    /*background-color: #090B0B;*/
    margin-top: 100px;
}

footer .text-black-50 {
    font-size: 8pt;
}

footer a.btn, a.btn {
    font-weight: 700;
}

footer a.e_mail, a.e_mail {
    height: 45px;
    display: inline-block;
    font-weight: 700;
}

.fb-like {
    /*margin-right: 20px;*/
    margin-bottom: 20px;
}

.fb-like iframe {
    width: 100% !important;
}

.fb-like span {
    width: 300px !important;
}

.arial {
    font-family: Arial, sans-serif;
}

.pricing {
    margin-top: 50px;
}

.pricing .card {
    border: 0;
    padding-top: 5px;
    font-family: 'Arial', sans-serif;
}

.call {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.desc > p {
    font-weight: 400 !important;
}

.pricing .card-header {
    border: 0;
    background-color: white;
    padding-bottom: 0;
}

.pricing .card-title {
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.pricing .card-body h3 {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.time table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.books .card > a {
    font-size: 14px;
    color: #4198D0 !important;

}

.container.contact .card {
    height: 200px;
    border: 0;
}

.btn-success {
    background-color: #32CD32;
    border-color: #32CD32;
}

.btn-success:hover, .btn-success:focus {
    outline-color: #79EF79;
    background-color: #79EF79;
    border-color: #79EF79;
}

.btn-primary {
    background-color: #00BFFF;
    border-color: #00BFFF;
}

.btn-primary:hover, .btn-success:focus {
    outline-color: #6BCDEF;
    background-color: #6BCDEF;
    border-color: #6BCDEF;
}

.footer-links > div {
    width: 300px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-links {
    font-family: 'Bitter', serif;
    font-weight: bold;
}

.books .card a {
    font-family: Arial, sans-serif;
}

.mont {
    font-family: 'Montserrat', serif;
}

.header {
    text-align: center;
    text-transform: none;
}

.pricing .card-header {
    background: transparent;
}

.pricing .card:hover {
    background: #00000010;
    box-shadow: 0 0 10px #00000015;
}

nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

main.container {
    margin-top: 92px;
}

.e_mail:hover {
    background-color: #187BCD !important;
    opacity: 1 !important;
    color: #fff !important;
}

.btn:hover {
background-color: #0B6623 !important; opacity: 1 !important; color: #fff !important;
}

.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
margin-top: 25px;
}

.icon-button.facebook
{
background-color: #3c5998;
}

.icon-button.twitter
{
background-color: #4199ff;
}


/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-twitter {
	color: #fff;
}
.icon-button .fa-facebook {
	color: #fff;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

@media only screen and (max-width: 400px) {
    .purchasable {
        font-size: 16px;
    }

    button.navbar-toggler {
        margin-right: 20px;
    }

    .nav-link {
        font-size: 18px
    }

    .header h1{
        font-size: 20px;
    }
}


@media only screen and (min-width: 1080px) {
    header .img-fluid{
        max-width: 580px;
        margin-top: 50px;
    }
    div.banner .img-fluid{
        max-width: 580px;
    }

}

