* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pnf-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER CLASSES */
.header1-h1 {
    color: white;
    background-color: black;
    max-width: 684px;
    padding: 16px 16px 16px;
    border-radius: 3px;
    font-size: 16pt;
    font-weight: 300;
    margin: auto;
    margin-bottom: 16px;
}

.header1-p {
    color: black;
    background-color: #ed2024;
    max-width: 684px;
    padding: 16px 16px 16px;
    border-radius: 3px;
    font-size: 14pt;
    /* font-weight: 300; */
    margin: auto;
    margin-top: 16px;
    line-height: 1.3rem;
}

.header1-p b {
    font-weight: bold;
}

.header2-h2 {
    color: white;
    background-color: #ed2024;
    max-width: 684px;
    padding: 16px 16px 16px;
    border-radius: 34.6px;
    border-style: solid;
    border-width: 2px;
    line-height: 34.6px;
    font-weight: bold;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header2-h2 b {
    font-size: 32px;
}

.header3-h3 {
    color: #48a740;
    font-size: 16pt;
    font-weight: normal;
    padding: 16px 16px 0px;
    margin: auto;
}

.header3-p {
    color: #ed2024;
    background-color: black;
    max-width: 684px;
    padding: 16px 16px 16px;
    font-size: 14pt;
    font-weight: 300;
    margin: auto;
    margin-top: 0;
    margin-bottom: 16px;
    border-radius: 3px;
}

/* .center {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    padding-bottom: -10px;
} */

.text-center {
    text-align: center;
}

/* .logo {
    width: 50%;
    height: 50%;
    padding-top: -10px;
    padding-bottom: -10px;
} */

/* PAGE HEADER DESIGN CLASSES */
.page-header-design {
    margin: auto;
}

/* PAGE HEADER DESIGN SHAPE ID */
#rectangle1 {
    background: #ed2024;
    margin: auto;
    width: 100%;
    height: 60px;
}

#rectangle2 {
    background-color: black;
}

.logo-container {
    width: 302px;
    height: fit-content;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

#rectangle3 {
    background: black;
    width: 100%;
    height: 20px;
    margin-top: 16px;
}

#rectangle4 {
    background-color: #ed2024;
    width: 100%;
    height: 59.5px;
}

/* PAGE HEADER ID SHAPE IMAGES */
#rectangle2 img {
    width: 100%;
    height: 100%;
}

/* MOBILE OPTIMIZATION */
@media screen and (max-width: 712px) {
    .content-wrapper {
        width: 95%;
        margin: auto;
    }

    .header2-h2 {
        width: 95%;
        margin: initial auto;
    }
}